<head>
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script> 
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"/></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-route.min.js"></script>
  <script type='text/javascript' src='./script.js'></script>

 
</head>

<style>
	.blog-masthead {background-color: #9999FF;
					color: white;
					margin-bottom: 20px;}
</style>
<body>
	    <div class="container">
			<div class="blog-masthead">
				<div class="row">
					  <div class="col-md-7"></div>
					  <div class="col-md-5">
							<nav class="blog-nav">
					          <a class="blog-nav-item active" href="#/"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>Dashboard</a>
					          <a class="blog-nav-item" href="#/data"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>Data</a>
					          <a class="blog-nav-item" href="#/trends"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>Trend Charts</a>
					          <a class="blog-nav-item" href="#/"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>Profile</a>
					          <a class="blog-nav-item" href="#/"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>Log Out</a>
					        </nav>
					  </div>
				</div>   
      		</div>
      		<div class="row">
				  <div class="col-md-6">
				  		<fieldset>
				  			<legend>GlucoseLevels</legend>
					  			<table class="table table-striped table-bordered">
					  				<thead>
					  					<th>Date</th>
					  					<th>Time</th>
					  					<th>Meal Type</th>
					  					<th>Glucose Level</th>
					  				</thead>
					  				<tbody>
					  					<td><a>2/13/2104</a></td>
					  					<td>8:15 AM</td>
					  					<td>Fasting</td>
					  					<td>84</td>
					  				</tbody>
								</table>
				  		</fieldset>
				  </div>
				  <div class="col-md-6">
						<fieldset>
				  			<legend>Exercise Entries</legend>
				  				<table class="table table-striped table-bordered">
					  				<thead>
					  					<th>Date</th>
					  					<th>Activity</th>
					  					<th>Duration</th>
					  					<th>Intensity</th>
					  				</thead>
					  				<tbody>
					  					<td><a>2/13/2104</a></td>
					  					<td>Yoga</td>
					  					<td>60</td>
					  					<td>Low</td>
					  				</tbody>
								</table>
				  		</fieldset>
				  </div>
			</div>
    	</div>
</body>