<head>
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script> 
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"/></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-route.min.js"></script>
  <script type='text/javascript' src='./script.js'></script>

 
</head>

<style>
	.blog-masthead {background-color: #9999FF;
					color: white;
					margin-bottom: 20px;}

</style>
<body>
	    <div class="container">
			<div class="blog-masthead">
				<div class="row">
					  <div class="col-md-7"></div>
					  <div class="col-md-5">
							<nav class="blog-nav">
					          <a class="blog-nav-item active" href="#/dashboard"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>Dashboard</a>
					          <a class="blog-nav-item" href="#/data"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>Data</a>
					          <a class="blog-nav-item" href="#/trends"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>Trend Charts</a>
					          <a class="blog-nav-item" href="#/"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>Profile</a>
					          <a class="blog-nav-item" href="#/"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>Log Out</a>
					        </nav>
					  </div>
				</div>   
      		</div>
      		<div class="row">
				  <div class="col-xs-12 col-md-9">
						<form class="form-inline">
							<div class="row">
						      <div class="col-xs-8 col-sm-4">
						        <div "form-group form-group-sm">
								    <label for="exampleInputName2">Start Date</label>
								    <input type="date" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
								</div>
						      </div>
						      <div class="col-xs-4 col-sm-4">
						        <div "form-group form-group-sm">
								    <label for="exampleInputEmail2">End Date</label>
								    <input type="date" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
								</div>
						      </div>
						      <div class="col-xs-8 col-sm-4">
						        <button type="submit" class="btn btn-primary btn-xs">Chart</button>
						      </div>
						    </div>							  
						</form>
				  </div>
				  <div class="col-xs-6 col-md-3">
				  		<fieldset>
				  			<legend>Exercise Tracker</legend>
				  			<p >Total Duration for HIIT</p>
				  			<p class="text-center">650 minutes</p>
				  			<p>Total Duration for High Intensity</p>
				  			<p class="text-center">650 minutes</p>
				  			<p>Total Duration for Moderate Intensity</p>
				  			<p class="text-center">650 minutes</p>
				  			<p>Total Duration for Low Intensity</p>
				  			<p class="text-center">650 minutes</p>
				  		</fieldset>
				  </div>
			</div>
    	</div>
</body>