<head>
  <title></title>
</head>

<style>
	.blog-masthead {background-color: #9999FF;
					color: white;
					margin-bottom: 20px;}

</style>
<body>
	    <div class="container" ng-controller='trendsController'>
			<div class="blog-masthead">
				<div class="row">
					  <div class="col-md-7">
							<div class="col-md-7"><p>Welcome <span ng-bind='user.alias'></span></p></div>
					  </div>
					  <div class="col-md-5">
							<nav class="blog-nav">
					          <a class="blog-nav-item active" href="#/dashboard"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>Dashboard</a>
					          <a class="blog-nav-item" href="#/data"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>Data</a>
					          <a class="blog-nav-item" href="#/trends"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>Trend Charts</a>
					          <a class="blog-nav-item" href="#/"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>Profile</a>
					          <a class="blog-nav-item" href="#/"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>Log Out</a>
					        </nav>
					  </div>
				</div>   
      		</div>
      		<div class="row">
				  <div class="col-xs-12 col-md-9">
						<form class="form-inline">
							<div class="row">
						      <div class="col-xs-8 col-sm-4">
						        <div "form-group form-group-sm">
								    <label for="exampleInputName2">Start Date</label>
								    <input type="date" class="form-control" ng-model='span.start'>
								</div>
						      </div>
						      <div class="col-xs-4 col-sm-4">
						        <div "form-group form-group-sm">
								    <label for="exampleInputEmail2">End Date</label>
								    <input type="date" class="form-control" ng-model='span.end'>
								</div>
						      </div>
						      <div class="col-xs-8 col-sm-4">
						        <button type="submit" class="btn btn-primary btn-xs" ng-click='updateChart()'>Chart</button>
						      </div>
						    </div>							  
						</form>
						<highchart id="chart1" config="chartConfig"></highchart>
				  </div>
				  <div class="col-xs-6 col-md-3">
				  		<fieldset>
				  			<legend>Exercise Tracker</legend>
				  			<p >Total Duration for HIIT</p>
				  			<p class="text-center">650 minutes</p>
				  			<p>Total Duration for High Intensity</p>
				  			<p class="text-center">650 minutes</p>
				  			<p>Total Duration for Moderate Intensity</p>
				  			<p class="text-center">650 minutes</p>
				  			<p>Total Duration for Low Intensity</p>
				  			<p class="text-center">650 minutes</p>
				  		</fieldset>
				  </div>
			</div>
    	</div>
</body>